
# Copyright (C) 2026 Kendall Tauser
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

---

name: Yarn Node CI
on: 
  workflow_call:
    inputs:
      app-dir:
        description: Specify the relative directory where your application lives in the repository.
        default: ""
        required: false
        type: string
      ci-skip:
        description: Specify stages of CI to skip using /<stage>/ syntax.
        default: ""
        required: false
        type: string
      node-version:
        description: Specify the node major version to use with this pipeline.
        default: 22
        required: false
        type: number
      runner:
        description: Specify the tag for the runners on which this workflow should run.
        default: ubuntu-latest
        required: false
        type: string

permissions:
  contents: read

jobs:
  ci:
    name: ci
    runs-on: ${{ inputs.runner }}
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    - uses: actions/setup-node@v5
      with:
        node-version: ${{ inputs.node-version }}
    - name: Set Directory
      if: ${{ inputs.app-dir != '' }}
      run: cd ${{ inputs.app-dir }}
    - name: Build
      if: "!contains(inputs.ci-skip, '/build/')"
      run: yarn build
    - name: Run tests
      if: "!contains(inputs.ci-skip, '/unit-test/')"
      run: yarn test
